
@import "tailwindcss";

@theme {
  --color-helpdesk-green : oklch(47.04% 0.0749 192.44);
  --color-helpdesk-blue : oklch(27.85% 0.0564 249.75);
  --color-helpdesk-dark-green : oklch(32.94% 0.0485 192.97);
}
